html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

nav {
    color:blue;
}

body {
    margin: 0;
    padding: 0;
    background-color: dimgrey;
    font-family: 'Arial';
}

h2 {
    text-align: center;
    color: black;
    padding: 20px;
}

.LoginPage {
    width: 400px;
    overflow: hidden;
    margin: auto;
    padding: 50px;
    background-color: orangered;
    border-radius: 15px;
}

label {

}

#username {
    width: 300px;
    height: 30px;
    border: none;
}

#password {
    width: 300px;
    height: 30px;
    border: none;
}

#hidePword {
    text-align: center;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
}

.Buttons {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
}

.SurveyTable {
    width: auto;
    height: auto;
    margin: auto;
    background-color: orangered;
    
    border-radius: 15px;
}

.CenterColumn {
    width: 50px;
}
.OuterColumn {
    width: 50px;
}

.ProductPage {
    width: 400px;
    overflow: hidden;
    margin: auto;
    padding: 50px;
    border-radius: 15px;
    background-color:orangered;
}